.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand {
    margin-right: auto;
}

.navbar-nav .nav-item {
    margin-left: auto; 
    margin-right: auto;
}

.navbar-nav.ml-auto {
    margin-left: 0; 
}

.navbar-nav.ml-auto .nav-item {
    margin-left: 10px;
}